<header>
  <h1>devRamp</h1>
</header>
  <h3>Are you ready to ramp up your technical skills to the next level?</h3>
  <p>devRamp will help you to get the most out of online learning resources on the web, developing short courses (ramps), tailored to who you are, what you want to learn, and how you want to learn.</p>