<div id="section-1" class="section center">
  <h1>devRamp</h1>
  <h3 class="strapline">Are you ready to ramp up your technical skills to the next level?</h3>
  <a href="#section-2" class="transition-button transition-button-1">&#9660;</a>
</div>
<div id="section-2" class="section center">
  <p class="info-box"> <span class="emphasis">devRamp</span> will help you to get the most out of online learning resources on the web, developing short courses (<span class="emphasis">ramps</span>), tailored to <span class="emphasis">who</span> you are, <span class="emphasis">what</span> you want to learn, and <span class="emphasis">how</span> you want to learn.</p>
  <a href="#section-3" class="transition-button transition-button-2">&#9660;</a>
</div>
<div id="section-3" class="section center">
  <h1>How does it work?</h1>
  <p>Say you want to learn about...</p>
  <p class="text-field">Interfaces in Java...|</p>
  <p>and you've got...</p>
  <p><span class="checkbox emphasis">&#9745</span> 3 hours,</p>
  <p>and you have a preference for...</p>
  <p><span class="checkbox emphasis">&#9745</span> audio content,</p>
  <p>then we have the <span class="emphasis">ramp</span> for you:</p>
  <p class="text-field">Article: Introduction to Java Interfaces</p>
  <p class="text-field">Video: Using Interfaces in Java </p>
  <p class="text-field">Podcast: Designing with Interfaces</p>
  <p>Interested?</p>
  <a href="/plans" class="button">Start Ramping Up!</a>
</div>
