<div class="section-wrapper">
  <div id="section-1" class="section center">
    <header>
      <h1>devRamp</h1>
    </header>
      <h3>Are you ready to ramp up your technical skills to the next level?</h3>
      <a href="#section-2" class="transition-button">&#9660;</a>
  </div>
  <div id="section-2" class="section center">
    <p>devRamp will help you to get the most out of online learning resources on the web, developing short courses (ramps), tailored to who you are, what you want to learn, and how you want to learn.</p>
    <a href="#section-3" class="transition-button">&#9660;</a>
  </div>
  <div id="section-3" class="section center">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>
</div>