<!DOCTYPE html>
<html>
  <head>
    <title>devRamp</title>
    <link rel='stylesheet' type='text/css' href='stylesheets/application.css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>