body {
  height: 100%;
}

.center {
  text-align: center;
}

h1, h3, p {
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 48px;
  padding-top: 1em;
  margin-top: 0;
  color: #ECEAE0;

}

#title-strip {
  margin-top: 2em;
  padding-bottom: 1em;
  background-color: #63AA9C;
}

h3 {
  font-size: 54px;
}

p {
  font-size: 30px;
  line-height: 2em;
}

p.info-box {
  background-color: #ECEAE0;
  border-radius: 10px;
  padding: 2em;
}

.emphasis {
  color: #63AA9C;
}

a {
  text-decoration: none;
}

.transition-button {
  font-size: 60px;
}

.transition-button-1 {
  color: #63AA9C;
}

.transition-button-2 {
  color: #ECEAE0;
}

.section {
  padding-bottom: 10em;
}

#section-1 {
  background-color: #ECEAE0;
  overflow-y: hidden;
}

#section-2 {
  background-color: #63AA9C;
  padding: 5em 10em 10em 10em;
}