body {
  height: 100%;
}

.center {
  text-align: center;
}

h1, h3, p {
  font-family: 'Arvo', serif;
}

h1 {
  font-size: 48px;
  color: #ECEAE0;
  padding-top: 0.5em;
  margin-top: 0;
  margin-left: 1em;
  text-align:left;
}


h3 {
  font-size: 64px;
  text-align: center;
  color: #ADD8E6;
}

p {
  font-size: 30px;
  line-height: 2em;
}

p.info-box {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2em;
}

.emphasis {
  color: #63AA9C;
}

a {
  text-decoration: none;
}

.transition-button {
  font-size: 60px;
  color: #FFFFFF;
}

.transition-button-1 {
  margin-top: 5em;
}


#section-1 {
  background-image: url("/images/matterhornsummit.jpg");
  height: 100%;
}

#section-2 {
  background-color: #ADD8E6;
  opacity: 0.8;
  padding: 5em 10em 2em 10em;
}

#section-3 {
  background-color: #bdcaec;
  opacity: 0.8;
}
